<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>  
    <div class="container">
        <h1>Recipe Book <a href="/recipes/add"><img src="recipe.svg" alt="Add Recipe" width="50" height="100"></a></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ingredients</th>
                    <th>Instructions</th>
                    <th>></th>
                </tr>
            </thead>
            <tbody>
                <% recipes.forEach(function(recipe) { %>
                <tr>
                    <td><%= recipe.name %></td>
                    <td><%= recipe.ingredients %></td>
                    <td><%= recipe.instructions %></td>
                    <td>
                        <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
                        <a href="/recipes/<%= recipe.id %>/delete">Delete</a>
                    </td>                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <script src="<https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js>"></script>
</body>
</html>
